@model ASP.NET_CRUD_Operation_Project.Models.AddEmployeeViewModel
@{
}
<h1 class="text-center mt-5">Add Employee</h1>
<form method="post" action="Add" class="mt-5">
    <div class="m-5">
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name">
    </div>
    <div class="m-5">
        <label for="" class="form-label">Date Of Birth</label>
        <input type="date" class="form-control" asp-for="DateOfBirth">
    </div>
    <div class="m-5">
        <label for="" class="form-label">Department</label>
        <input type="text" class="form-control" asp-for="Department">
    </div>
    <div class="m-5">
        <label for="" class="form-label">Salary</label>
        <input type="number" class="form-control" asp-for="Salary">
    </div>
    <div class="m-5">
        <label for="" class="form-label">Date Of Joining</label>
        <input type="date" class="form-control" asp-for="DateOfJoining">
    </div>

    <div class="text-center m-5">
    <button type="submit" class="btn btn-outline-primary">Submit</button>
    </div>
</form>